---
title: selección
---

<% view = SelectionView.new %>
<div id="wrapper">
  <div id="time-panel" style="width: <%= view.width %>px;">
    <div class="line">
        <%= partial 'selection', collection: view.top %>
    </div>
    <div class="line">
        <%= partial 'selection', collection: view.bottom %>
    </div>
  </div>
</div>
