---
title: noticias
---

<div id="wrapper" class="autoscroll">
  <div id="time-panel" style="width: <%= Blog.width %>px;">
    <div class="line" style="display: none;">
      <%= partial 'post', collection: Blog.posts %>
    </div>
  </div>
</div>
