---
title: noticias
---

<div id="wrapper" class="autoscroll">
  <div id="time-panel" style="width: <%= @blog.width %>px;">
    <div class="line" style="display: none;">
      <%#= render partial: 'post', collection: @blog.posts %>
    </div>
  </div>
</div>
