---
title: noticias
---

<% posts = Repo.all('Post') %>
<div id="wrapper" class="">
  <div id="time-panel" style="width: <%= blog_width(posts) %>px;">
    <div class="line" style="">
      <%= partial 'post', collection: posts %>
    </div>
  </div>
</div>
